@page
@model Gdekor.Pages.NyitoOldalak.BejelentkezesModel
@{
}
<style>
    .kozepResz {        
        background: linear-gradient(to bottom right,#5c3a28 0%, #5c3a28 5.8%, white 7%, white 69.8%, #5c3a28 71%, #5c3a28 100%);
        background: url(/images/loginReg.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;        
    }

    .animatedCard {
        min-width: 55vw;
    }
    
    .formSzuk{
        min-width: 85vw;
        max-width: 98vw;
        padding: 1.2rem 1.45rem;
        border-radius:16px;
        border: solid 1px rgba(255,255,255,0.6);

        border-top: 3px solid black;
        border-bottom: 3px solid black;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #d6d6d6;

        border-radius: 20px;
        transition: box-shadow 0.3s ease 0.15s;

        background:rgba(255,255,255,0.75);
        backdrop-filter: blur(8px);        
        
        padding-bottom: 5%;
        
    }
    .formSzuk.shAdOw {
        box-shadow: 15px 15px 15px rgba(60,40,28,0.45);
    }
    
    .formSzuk label{
        color: #6b3a1f;
        white-space:nowrap;
    }

    .lbl_Input {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    #emlkz{
        color: #6b3a1f;
    }

    .szinatmenetes {
        background: linear-gradient(135deg, #5c3a28, #c4a484);
        background: linear-gradient(135deg, black, #c4a484);
        background: linear-gradient(135deg, black, #8f6b4f, #5c3a28);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
   
    .bttn_Tovabb {
        border: solid 1px #c2c2c2;
    }
    .bttn_Tovabb:hover {
        border: solid 1px #c2c2c2;
    }

    @@media (min-width: 768px) {
        .formSzuk {
            min-width:auto;
            max-width: 30vw;
        }

        .kozepResz {
            padding-left: 5%;
        }
    }
</style>
<div class="ps-4 pt-5 mezo d-flex flex-column flex-grow-1">

    <div class="mb-5 flex-shrink-0">
        <a id="bejelentLink" class="btn nyito_link aktiv btn-lg">Bejelentkezés</a>
        <a id="bejelentLink" class="btn nyito_link inaktiv btn-lg" asp-page="/NyitoOldalak/Regisztralas">Regisztrálás</a>
    </div>

    <div id="formDiv" class="d-flex flex-grow-1 align-items-center align-items-md-start">
        <form method="post" class="row animatedCard">
            <div class="col-12 col-md-7">
                <div class="formSzuk">
                    <table class="w-100 mb-1 mb-md-2" style="border-collapse:separate; border-spacing: 1rem;">
                        <tr>
                            <td class="pe-3 align-middle text-nowrap fw-semibold szinatmenetes" style="color:#5d4037;">
                                E-mail
                            </td>
                            <td class="w-100">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="pe-2 align-middle text-nowrap fw-semibold szinatmenetes" style="color:#5d4037;">
                                Jelszó
                            </td>
                            <td>
                                <input asp-for="Jelszo" type="password" class="form-control" />
                                <span asp-validation-for="Jelszo" class="text-danger"></span>
                            </td>
                        </tr>                        
                        <tr>
                            <td></td> <!-- üres: ugyanaz az oszlop, mint a labelnél -->
                            <td class="pt-2 align-middle">
                                <div class="d-flex align-items-center">
                                    <input asp-for="Emlekezz" type="checkbox" class="form-check-input m-0" />
                                    <label asp-for="Emlekezz" class="ms-2 mb-0" style="color:rgba(0,0,0,0.92);">
                                        emlékezz rám
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="pt-3 pt-md-4 text-end">
                                <button class="btn ms-auto bttn_Tovabb">bejelentkezés</button>
                            </td>
                        </tr>                                          
                    </table>

                    
                </div>
            </div>
        </form>
    </div>

</div>
@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const formSzuk = document.querySelector('.formSzuk');

            if(!formSzuk)
                return;

            formSzuk.classList.add('shAdOw');
        });
    </script>
}
